.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0057c228; 
}

.transparent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(173, 194, 214, 0.247);
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 80vw;
    height: 80vh;
    min-height: 500px;
    overflow: hidden;
}
.sign-in-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
.appName{
    font-size: 4rem;
    font-weight: 700;
    color: #0084ff;
    padding: 1rem;
    margin-top: 1rem;
}
.appDescription{
    font-size: 0.7rem;
    font-weight: 500;
    color: #f5f5f5;
}  
.text-field {
    display: flex;
    margin: 10px;
    color: #ffffff;
    border-radius: 20px;
    width: 80%;
    background-color: #34476b00;
}
.text-black:focus {
    outline: none;
}

.sign-in-button{
    background-color: #4d85b9;
    border: 1px solid white;
    border-radius: 15px;
    width: 10vw;
    padding: 5px;
    margin-top: 2vh;
    
}
.sign-in-button:hover{
    background-color: #0053a1;
    color: white;
}
.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.google-icon, .facebook-icon {
    margin: 10px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.icon {
    font-size: 2rem; 
    color: #000;   
}
.user-icon {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 2rem;
    color: #000;     
}