.eventContainer {
    border-radius: 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8));
    padding: 16px;
    margin: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .imageContainer {
    margin-bottom: 16px;
  }
  
  .eventImage {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .noImage {
    background-color: #ccc;
    padding: 16px;
    border-radius: 10px;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .description, .date, .time, .location {
    margin: 8px 0;
  }
  
  .joinButton {
    background-color: #0057c2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .joinedButton {
    background-color: #707070;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: not-allowed;
  }
  
  .buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  