/* Events_created.module.css */

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #0057c228;
    overflow: hidden;
    position: relative;
}

.returnButton {
    position: fixed;
    top: 4px; /* Adjust this value to move the button higher */
    left: 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000; 
}

.returnButton:hover {
    background-color: #005bb5;
}


.pageTitle {
    font-size: 1.8rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
}

.eventsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.eventContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 1200px; /* Adjust as needed */
    border-radius: 20px;
    padding: 1rem;
}

.viewEventButton {
    background-color: #0057c2;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.viewEventButton:hover {
    background-color: #0048a1;
}
